{% extends "base.html" %}
{% block title %}ICE CREAM{% endblock title %}
{% block body %}


<!-- Main Content -->
<div class="container mt-4">
  <div class="jumbotron">
      <h1 class="display-4">Welcome to Our Ice Cream Shop!</h1>
      <p class="lead">Indulge in the sweetness of our delightful ice cream flavors. We offer a variety of
          delicious options for every palate.</p>
      <hr class="my-4">
      <p>Explore our menu and treat yourself to the perfect scoop of happiness.</p>
      <a class="btn btn-primary btn-lg" href="/menu" role="button">View Menu</a>
  </div>
</div>
{% endblock body %}